.logoName{
    font-size: 36px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-left: 56px;
    color: #000000;
}

.logoName span{
    color: #D63626;
}

.navigation{
    width: 625px;
    height: 21px;
    margin-left:198px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navigation>div{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.navigation>div:hover{
    cursor: pointer;
    color:  #D63626;
}

.active{
    color:  #D63626;
}

.inActive{
    color:  #828282;
}

.search{
    width: 404px;
    height: 45px;
    border-radius: 10px;
    margin-left: 100px;
    background: #FFFFFF;
    text-indent: 10px;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.75px;
    text-align: left;
    color: #000000;
    outline: none;
}

.search::-webkit-input-placeholder {/* Chrome/Opera/Safari/Edge */
    color: #000000;
}

.search::-ms-input-placeholder { /* Microsoft Edge */
    color: #000000;
}

.language{
     position: 'relative';
     margin-left: 50px;
}

.images{
    width: 41px;
    height: 41px;
    cursor: pointer;
  }

.signUpButton{
    width: 115px;
    height: 41px;
    margin-left: 50px;
    border-radius: 30px;
    background: #D63626;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #FFFFFF;
}

.signUpButton:hover{
    transform: scale(0.97);
    transition: 333ms;
}

.currentUser{
    display: flex;
    gap: 20px;
    margin-left: 35px;
}

.currentUser>div:hover{
    cursor: pointer;
}

.currentUser>div{
    width: 40px;
    height: 41px;
    border-radius: 100px;
}

.currentUser>div:first-child{
    background: #EB5757;
}

.currentUser>div:last-child{
    background: #F178B6;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #FFFFFF;

}

.profileModal{
    cursor: default;
    position: absolute;
    width: 178px;
    height: 234px;
    top: 50px;
    left: -137px;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px -2px #00000033;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileModal>div{
    width: 143px;
    height: 35px;
    border-bottom: 2px solid #F3F4F6;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    color: #000000;
    cursor: pointer;

}
.profileModal>div:hover{
    transform: scale(0.98);
    transition: 333ms;
    background-color: #F3F4F6;
}

.openSidebar{
    display: none;
  }

@media screen and  (max-width:1564px){

    .navigation{
        width: 530px;
        margin-left:95px;
        gap: 21px;
    }

    .search{
        width: 304px;
        margin-left: 50px;
    }

    .language{
        margin-left: 30px;
   }

   .signUpButton{
        margin-left: 40px;
}
}

@media screen and (min-width:375px) and (max-width:424px){
    .navbar{
        display: none;
      }

    .openSidebar{
        padding-left: 15px;
        padding-top: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: space-between;
        background-color:  #F2F2F2;
        height: 45px;
      }

      .logoNameForMobile{
        font-size: 25px;
        font-weight: 800;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-align: center;
        margin-left: 15px;
    
    }
    .logoNameForMobile span{
        color: #D63626;
    }
    
}
