.card {
  width: 100%;
  height: 100%;
  gap: 0px;
  border-radius: 5px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
}

.card:hover {
  cursor: pointer;
  transform: scale(0.95);
  transition: ease-in-out 333ms;
}

.restaurantInfo {
  display: flex;
  gap: 10px;
  height: 100%;
  width: 257px;
  align-items: center;
  margin-left: 5px;
}

.allImages{
width: 100px; 
height: 100px;
}

.restaurantName {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #1e1e30;
}

.category {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #828282;
}

.delete:hover,
.edit:hover {
  transform: scale(1.3);
  transition: ease-in-out 333ms;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media screen and (min-width:875px) and (max-width:1524px){
  .restaurantInfo {
    gap: 10px;
    width: 200px;
  }

  .allImages{
    width: 80px; 
    height: 70px;
    }

    .restaurantName {
      font-size: 16px;
    }
}
