.typeButton {
  width: 199px;
  height: 35px;
  background: #5a5b70;
  border-radius: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #f2f2f2;
}

.typeButton:hover {
  background: #4b4b5c;
  transition: 333ms;
}

.text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.01em;
  padding: 0 10px;

   text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.scrollbarForType::-webkit-scrollbar {
  width: 6px;
}

.scrollbarForType::-webkit-scrollbar-track {
  border-radius: 180px;
}

.scrollbarForType::-webkit-scrollbar-thumb {
  background-color: #5a5b70;
  border-radius: 180px;
}

@media screen and (min-width:375px) and (max-width:424px){
  .typeButton {
    width: 159px;
    
  }
}